* {
    margin: 0;
    padding: 0;
}
@mixin size($size) {
    width: $size;
    height: $size;
}

@mixin abs-pos {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body,
canvas {
    @include size(100%);
}

body {
    @include size(100%);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &:after {
        // content: '';
        // @include size(100%);
        // @include abs-pos;
        // background-color: rgb(255, 255, 255);
        // z-index: 1;
        // animation: thunder-bg 6s infinite;
    }
}

canvas {
    @include abs-pos;
}

#canvas3 {
    z-index: 5;
}

#canvas2 {
    z-index: 10;
}

#canvas1 {
    z-index: 100;
}

$color1: rgba(34,
34,
34,
.9);
$color2: rgba(59,
59,
59,
.3);
.thunder {
    @at-root {
        @-webkit-keyframes thunder-bg {
            0% {
                background-color: $color1;
            }
            9% {
                background-color: $color1;
            }
            10% {
                background-color: $color2;
            }
            10.5% {
                background-color: $color1;
            }
            80% {
                background-color: $color1;
            }
            82% {
                background-color: $color2;
            }
            83% {
                background-color: $color1;
            }
            83.5% {
                background-color: $color2;
            }
            100% {
                background-color: $color1;
            }
        }
    }
}

.lock, .cadenas{
    img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        height: 200px;
        width: 200px;
        text-align: center;
        font-family: arial;
        font-size: 50px;
        margin: auto;
    }
}

html, .door{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}


h1{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    text-align: center;
    font-family: arial;
    font-size: 50px;
    margin: auto;
}

.door{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.door .left,
.door .right{
    font-size: 10pt;
    display: inline-block;
    width: calc(50%);
    height: 100%;
    background: #313131;
}

.door .left{
    float: left;
    border-right: solid 5px #111;
}

.door .right{
    float: right;
    border-left: solid 5px #111;
}

.lock, .cadenas {
    cursor: pointer;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    width: 0px;
    text-align: center;
    z-index: 100;
    position: absolute;
    padding: 5px 100px;
    margin: auto;
    color: #ccc;
}

#phrase1
#phrase2
{
    color: white;
}


// body {
//     font-family: 'Open Sans', sans-serif;
//     font-size: 16px;
//     line-height: 1.5;
//     background-color: #333;
// }


.home {
    background-color: #fff;
    height: 100vh;
}