* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'DalekPinpoint';
    src: url('../DalekPinpointBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@mixin size($size) {
    width: $size;
    height: $size;
}

@mixin abs-pos {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body,
canvas {
    @include size(100%);
}

body {
    @include size(100%);
    background-size: cover;
    font-family: "DalekPinpointBold.ttf";
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &:after {
    }
}

canvas {
    @include abs-pos;
}

#canvas3 {
    z-index: 5;
}

#canvas2 {
    z-index: 10;
}

#canvas1 {
    z-index: 100;
}

$color1: rgba(34,
34,
34,
.9);
$color2: rgba(59,
59,
59,
.3);
.thunder {
    @at-root {
        @-webkit-keyframes thunder-bg {
            0% {
                background-color: $color1;
            }
            9% {
                background-color: $color1;
            }
            10% {
                background-color: $color2;
            }
            10.5% {
                background-color: $color1;
            }
            80% {
                background-color: $color1;
            }
            82% {
                background-color: $color2;
            }
            83% {
                background-color: $color1;
            }
            83.5% {
                background-color: $color2;
            }
            100% {
                background-color: $color1;
            }
        }
    }
}

.lock, .cadenas{
    img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        height: 200px;
        width: 200px;
        text-align: center;
        font-family: arial;
        font-size: 50px;
        margin: auto;
    }
}

html, .door{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}


h1{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    text-align: center;
    font-family: arial;
    font-size: 50px;
    margin: auto;
}

.door{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.door .left,
.door .right{
    font-size: 10pt;
    display: inline-block;
    width: calc(50%);
    height: 100%;
    background: #313131;
}

.door .left{
    float: left;
    border-right: solid 5px #111;
}

.door .right{
    float: right;
    border-left: solid 5px #111;
}

.lock, .cadenas {
    cursor: pointer;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    width: 0px;
    text-align: center;
    z-index: 100;
    position: absolute;
    padding: 5px 100px;
    margin: auto;
    color: #ccc;
}

.sentence 
{
    color: white;
    z-index: 10000;
    font-family: 'DalekPinpoint';
    font-size: 20px;
    opacity: 20%;
    position: absolute;
}

.one{
    top: 30%;
    right: 20%;

}

.two{
    top: 70%;
    left: 80%;
}

.three{
    top: 50%;
    right: 80%;
}

.four{
    top: 10%;
    left: 20%;
}

.key {
    background-image: url(../img/success.jpg);
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
    background-size: cover;

    p:first-of-type {
        color: #111;
        font-family: 'DalekPinpoint';
        font-size: 40px;
        text-align: center;
    }
}

.key-button {
    background-color: rgb(227, 130, 19);
    text-decoration: none;
    color: #fff;
    font-family: 'DalekPinpoint';
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
    display: flex;

    &:hover {
        background-color: #111;
    }
}

.key-animation {
    mix-blend-mode: multiply;
    display: flex;
    margin: auto;
    opacity: 0;
}

.home {
    background-color: #fff;
    height: 100vh;
}

 


@keyframes example {
    0%   {
        filter: brightness(1);
        filter: contrast(1);
        -webkit-filter: brightness(1);
        -webkit-filter: contrast(1);
    }
    50%  {
        filter: brightness(0.4);
        filter: contrast(0.4);
        -webkit-filter: brightness(0.4);
        -webkit-filter: contrast(0.4);
    }
    100% {
        filter: brightness(1);
        filter: contrast(1);
        -webkit-filter: brightness(1);
        -webkit-filter: contrast(1);
    }
}

#lock_home{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}



#lock-thunder {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 200;
    display: none;
}

#player{
    display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: 'DalekPinpoint';
    background: rgb(26, 26, 26);
    top: 0%;
    opacity: 90%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2,h3,h4,h5{
        color: white;
        opacity: 0;
        letter-spacing: 2px;
        position: absolute;
        font-size: 40px;
    }
}


