@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "DalekPinpoint";
  src: url("../fonts/DalekPinpointBold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: "LouisGeorgeCafe";
  src: url("../fonts/LouisGeorgeCafe.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body,
canvas {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: "DalekPinpointBold.ttf";
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas3 {
  z-index: 5;
}

#canvas2 {
  z-index: 10;
}

#canvas1 {
  z-index: 100;
}

@-webkit-keyframes thunder-bg {
  0% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  9% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  10% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  10.5% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  80% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  82% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  83% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  83.5% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  100% {
    background-color: rgba(34, 34, 34, 0.9);
  }
}

.lock img, .cadenas img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  height: 200px;
  width: 200px;
  text-align: center;
  font-family: arial;
  font-size: 50px;
  margin: auto;
}

html, .door {
  height: 100%;
  width: 100%;
  position: relative;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 200px;
  width: 200px;
  text-align: center;
  font-family: arial;
  font-size: 50px;
  margin: auto;
}

.door {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.door .left,
.door .right {
  font-size: 10pt;
  display: inline-block;
  width: 50%;
  height: 100%;
  background: #313131;
}

.door .left {
  float: left;
  border-right: solid 5px #111;
}

.door .right {
  float: right;
  border-left: solid 5px #111;
}

.lock, .cadenas {
  cursor: pointer;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 0px;
  text-align: center;
  z-index: 100;
  position: absolute;
  padding: 5px 100px;
  margin: auto;
  color: #ccc;
}

.sentence {
  color: white;
  z-index: 10000;
  font-family: "DalekPinpoint";
  font-size: 20px;
  opacity: 20%;
  position: absolute;
}

.one {
  top: 30%;
  right: 20%;
}

.two {
  top: 70%;
  left: 80%;
}

.three {
  top: 50%;
  right: 80%;
}

.four {
  top: 10%;
  left: 20%;
}

.key {
  background-image: url(../img/success.jpg);
  mix-blend-mode: multiply;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.key p:first-of-type {
  color: #111;
  font-family: "DalekPinpoint";
  font-size: 40px;
  text-align: center;
}

.key-button {
  background-color: #e38213;
  text-decoration: none;
  color: #fff;
  font-family: "DalekPinpoint";
  font-size: 30px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  display: flex;
}
.key-button:hover {
  background-color: #111;
}

.key-animation {
  mix-blend-mode: multiply;
  display: flex;
  margin: auto;
  opacity: 0;
}

.home {
  background-color: #fff;
  height: 100vh;
}

@keyframes example {
  0% {
    filter: brightness(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    -webkit-filter: contrast(1);
  }
  50% {
    filter: brightness(0.4);
    filter: contrast(0.4);
    -webkit-filter: brightness(0.4);
    -webkit-filter: contrast(0.4);
  }
  100% {
    filter: brightness(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    -webkit-filter: contrast(1);
  }
}
#lock_home {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#lock-thunder {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 200;
  display: none;
}

#player {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: "DalekPinpoint";
  background: #1a1a1a;
  top: 0%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay h2, .overlay h3, .overlay h4, .overlay h5 {
  color: white;
  opacity: 0;
  letter-spacing: 2px;
  position: absolute;
  font-size: 40px;
}

.icon-mute {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  mix-blend-mode: darken;
}

.icon-audio {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  z-index: 1000;
  background-color: orange;
}

.home-game {
  height: 100vh;
  width: 100%;
  background-image: url("../img/cloud-bg.png");
  background-size: cover;
  background-position-y: bottom;
}
.home-game .logo {
  display: flex;
  margin: auto;
  padding: 50px;
}
.home-game h2 {
  color: #111;
  font-size: 96px;
  text-align: center;
  margin: 20px 10%;
  text-transform: uppercase;
  font-family: "Alata";
}
.home-game a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-family: "LouisGeorgeCafe";
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 50px auto;
  width: fit-content;
  text-align: center;
  display: flex;
  background-color: #6DC8E5;
}
.home-game a:hover {
  background-color: #111;
}

.home-explanations {
  font-family: "LouisGeorgeCafe";
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 100px 10%;
}
.home-explanations :nth-last-child(1) {
  font-family: "DalekPinpoint";
}

.home-axes h3 {
  font-family: "Alata";
  font-style: normal;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
}
.home-axes hr {
  width: 100px;
  margin: 20px auto;
  border: 4px solid #000;
}

.home-axes {
  mix-blend-mode: darken;
}
.home-axes .axes-content {
  display: flex;
  text-align: center;
}
.home-axes .axe img {
  background-color: #6DC8E5;
}

.img-mute {
  width: 34px;
}

.img-audio {
  width: 34px;
}

/*# sourceMappingURL=style.css.map */
